@import "tailwindcss";

/* 가로 스크롤바 숨기기 유틸리티 */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* 마우스를 올렸을 때 멈추게 하는 옵션 (선택 사항) */
.animate-marquee:hover {
  animation-play-state: paused;
}